<h2>Listing all movies</h2>

{{#each movies}}
<p>Name: {{this.title}}</p>
<a href='/movies/{{this._id}}'>Movie details!</a>

{{/each}}
<br>
<br>


<a href='/movies/create'>Create new movie!</a>
<br>
<br>
<a href='/'>Go back!</a>