<h2>Listing all movies</h2>

{{#each movies}}
<p>Name: {{this.title}}</p>
<a href='/movies/{{this._id}}'>Movie details!</a>
<br>
<br>
<form action='/movies/{{this._id}}/delete' method='POST'>
    <button type='submit'>Delete</button>
    {{/each}}
    <br>
    <br>

    <a href='/create'>Create new movie!</a>
    <br>
    <br>
    <a href='/'>Go back!</a>